html {
  --brown: #522b13;
  --darkBrown: #4b2007;
  --cream: #f4d5a4;
  --darkCream: #e8b97f;
  --lightOrange: #e89d38;
  --darkLightOrange: #bf702d;
  --darkOrange: #c54620;
  --darkDarkOrange: #a53518;
  --engineYellow: #efb23d;
  --engineOrange: #e68431;
  --lightTrail: #f7e9b9;
  --darkTrail: #f3de8d;
  --starColour: #f4ae45;
  --cloudColour: #282521;
  --satelliteLight: #544c3f;
  --satelliteDark: #3e372c;
  --satelliteAccent: #2d2722;
  --satelliteLightAccent: #7c7160;
}

body {
  background: #040d1a;
  padding: 50px 150px;
  text-align: center;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.rocket_outer_block {
  overflow: hidden;
  position: relative;
  width: 220px;
  height: 300px;
  margin: auto;
  /* Star part */
}

.rocket_outer_block .big-rocket-ting {
  height: 55%;
  width: 20%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.9em, transparent), color-stop(7em, var(--darkOrange)));
  background: -webkit-linear-gradient(transparent 6.9em, var(--darkOrange) 7em);
  background: -o-linear-gradient(transparent 6.9em, var(--darkOrange) 7em);
  background: linear-gradient(transparent 6.9em, var(--darkOrange) 7em);
  margin: 0 auto;
  position: relative;
  margin-top: 0;
  z-index: 3;
}

.rocket_outer_block .big-rocket-ting::before, .rocket_outer_block .big-rocket-ting::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.rocket_outer_block .big-rocket-ting::before {
  bottom: 0;
  top: 25%;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--darkOrange)), color-stop(50%, var(--darkDarkOrange)));
  background: -webkit-linear-gradient(left, var(--darkOrange) 50%, var(--darkDarkOrange) 50%);
  background: -o-linear-gradient(left, var(--darkOrange) 50%, var(--darkDarkOrange) 50%);
  background: linear-gradient(to right, var(--darkOrange) 50%, var(--darkDarkOrange) 50%);
}

.rocket_outer_block .big-rocket-ting::after {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #db8f58), color-stop(50%, #c04e26));
  background: -webkit-linear-gradient(left, #db8f58 50%, #c04e26 50%);
  background: -o-linear-gradient(left, #db8f58 50%, #c04e26 50%);
  background: linear-gradient(to right, #db8f58 50%, #c04e26 50%);
  height: 1px;
  z-index: 1;
  top: 35%;
}

.rocket_outer_block .big-rocket-ting__nose {
  border-radius: 80% 0.2em 55% 50% / 55% 0.2em 80% 50%;
  -webkit-transform: translateX(-50%) scaleY(1) rotate(-45deg);
      -ms-transform: translateX(-50%) scaleY(1) rotate(-45deg);
       -o-transform: translateX(-50%) scaleY(1) rotate(-45deg);
          transform: translateX(-50%) scaleY(1) rotate(-45deg);
  width: 110.5%;
  position: absolute;
  top: 10%;
  left: 50%;
  background: -webkit-linear-gradient(225deg, var(--brown) 2.4em, var(--darkOrange) 2.5em);
  background: -o-linear-gradient(225deg, var(--brown) 2.4em, var(--darkOrange) 2.5em);
  background: linear-gradient(-135deg, var(--brown) 2.4em, var(--darkOrange) 2.5em);
}

.rocket_outer_block .big-rocket-ting__nose::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.rocket_outer_block .big-rocket-ting__nose::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 80% 0.2em 55% 50% / 55% 0.2em 80% 50%;
  background: -webkit-linear-gradient(315deg, transparent 50%, rgba(0, 0, 0, 0.19) 50%);
  background: -o-linear-gradient(315deg, transparent 50%, rgba(0, 0, 0, 0.19) 50%);
  background: linear-gradient(135deg, transparent 50%, rgba(0, 0, 0, 0.19) 50%);
}

.rocket_outer_block .big-rocket-ting .space-shuttle {
  height: 60%;
  width: 30px;
  margin: 0 auto;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  z-index: 2;
}

.rocket_outer_block .big-rocket-ting .space-shuttle::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top-left-radius: 2.8em 10em;
  border-top-right-radius: 2.8em 10em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--cream)), color-stop(50%, var(--darkCream)));
  background: -webkit-linear-gradient(left, var(--cream) 50%, var(--darkCream) 50%);
  background: -o-linear-gradient(left, var(--cream) 50%, var(--darkCream) 50%);
  background: linear-gradient(to right, var(--cream) 50%, var(--darkCream) 50%);
  z-index: 1;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--lightOrange)), color-stop(50%, var(--darkLightOrange)));
  background: -webkit-linear-gradient(left, var(--lightOrange) 50%, var(--darkLightOrange) 50%);
  background: -o-linear-gradient(left, var(--lightOrange) 50%, var(--darkLightOrange) 50%);
  background: linear-gradient(to right, var(--lightOrange) 50%, var(--darkLightOrange) 50%);
  height: 10px;
  z-index: 1;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__engine {
  position: absolute;
  top: 100%;
  left: 5%;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__engine::before {
  content: "";
  display: block;
  height: 0;
  width: 10px;
  height: 4px;
  background: orange;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__engine::after {
  position: absolute;
  content: "";
  display: block;
  height: 0;
  width: 10px;
  border-bottom: 0.6em solid var(--engineYellow);
  border-left: 0.1em solid transparent;
  border-right: 0.1em solid transparent;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}

.rocket_outer_block .big-rocket-ting .space-shuttle__engine--right {
  right: 7%;
  left: auto;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__wings {
  zoom: 0.3;
  position: absolute;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 18em;
  overflow: hidden;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 4em;
  padding: 0 1em;
  color: var(--lightOrange);
}

.rocket_outer_block .big-rocket-ting .space-shuttle__wings__inner {
  -webkit-filter: url(#goo);
          filter: url(#goo);
  position: relative;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__wings__1 {
  width: 8em;
  height: 18em;
  background: currentColor;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__wings__2 {
  width: 20em;
  height: 20em;
  background: currentColor;
  border-radius: 50%;
  margin-top: 9.5em;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__wings--2 {
  -webkit-transform: translateX(-50%) scale(0.92) translateY(0.85em);
      -ms-transform: translateX(-50%) scale(0.92) translateY(0.85em);
       -o-transform: translateX(-50%) scale(0.92) translateY(0.85em);
          transform: translateX(-50%) scale(0.92) translateY(0.85em);
  color: #e66f2c;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__wings--2::before, .rocket_outer_block .big-rocket-ting .space-shuttle__wings--2::after {
  content: "";
  display: block;
  width: 3.4em;
  height: 0.5em;
  background: #eed0a1;
  position: absolute;
  z-index: 1;
  bottom: 0.6em;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__wings--2::before {
  left: 0.9em;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__wings--2::after {
  right: 0.9em;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__wings--2 .space-shuttle__wings__1 {
  width: 7.5em;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__line {
  position: absolute;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #dfbe88), color-stop(50%, #ca9d6b));
  background: -webkit-linear-gradient(left, #dfbe88 50%, #ca9d6b 50%);
  background: -o-linear-gradient(left, #dfbe88 50%, #ca9d6b 50%);
  background: linear-gradient(to right, #dfbe88 50%, #ca9d6b 50%);
  height: 2px;
  z-index: 1;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__line--1 {
  top: 50%;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__line--2 {
  top: 70%;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__windows {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 1;
  left: 0;
  right: 0;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__windows::before, .rocket_outer_block .big-rocket-ting .space-shuttle__windows::after {
  content: "";
  display: block;
  width: 15%;
  height: 8px;
  position: absolute;
  top: 16%;
  z-index: 2;
  background: var(--darkBrown);
}

.rocket_outer_block .big-rocket-ting .space-shuttle__windows::before {
  left: 13%;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
       -o-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.rocket_outer_block .big-rocket-ting .space-shuttle__windows::after {
  right: 14%;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
       -o-transform: rotate(20deg);
          transform: rotate(20deg);
}

.rocket_outer_block .big-rocket-ting .space-shuttle__windows__middle {
  width: 40%;
  height: 8px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__windows__middle::before {
  content: "";
  display: block;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 0.7em solid var(--darkBrown);
}

.rocket_outer_block .big-rocket-ting .space-shuttle__windows__middle__line::before, .rocket_outer_block .big-rocket-ting .space-shuttle__windows__middle__line::after {
  content: "";
  display: block;
  width: 0.4em;
  height: 2em;
  position: absolute;
  top: 0;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__windows__middle__line::before {
  background: var(--cream);
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
       -o-transform: rotate(-20deg);
          transform: rotate(-20deg);
  left: 0;
}

.rocket_outer_block .big-rocket-ting .space-shuttle__windows__middle__line::after {
  background: var(--darkCream);
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
       -o-transform: rotate(20deg);
          transform: rotate(20deg);
  right: 0;
}

.rocket_outer_block .big-rocket-ting .side-booster {
  height: 100%;
  width: 30%;
  position: absolute;
  bottom: -25%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.rocket_outer_block .big-rocket-ting .side-booster::before, .rocket_outer_block .big-rocket-ting .side-booster::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.rocket_outer_block .big-rocket-ting .side-booster::before {
  top: 20%;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--cream)), color-stop(50%, var(--darkCream)));
  background: -webkit-linear-gradient(left, var(--cream) 50%, var(--darkCream) 50%);
  background: -o-linear-gradient(left, var(--cream) 50%, var(--darkCream) 50%);
  background: linear-gradient(to right, var(--cream) 50%, var(--darkCream) 50%);
}

.rocket_outer_block .big-rocket-ting .side-booster::after {
  height: 1em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--brown)), color-stop(50%, var(--darkBrown)));
  background: -webkit-linear-gradient(left, var(--brown) 50%, var(--darkBrown) 50%);
  background: -o-linear-gradient(left, var(--brown) 50%, var(--darkBrown) 50%);
  background: linear-gradient(to right, var(--brown) 50%, var(--darkBrown) 50%);
}

.rocket_outer_block .big-rocket-ting .side-booster__nose {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(1.2) rotate(-45deg);
      -ms-transform: translateX(-50%) scaleY(1.2) rotate(-45deg);
       -o-transform: translateX(-50%) scaleY(1.2) rotate(-45deg);
          transform: translateX(-50%) scaleY(1.2) rotate(-45deg);
  width: 114%;
  border-radius: 80% 0.1em 55% 50% / 55% 0.1em 80% 50%;
  background: -webkit-linear-gradient(315deg, var(--cream) 50%, #e8b97f 50%);
  background: -o-linear-gradient(315deg, var(--cream) 50%, #e8b97f 50%);
  background: linear-gradient(135deg, var(--cream) 50%, #e8b97f 50%);
}

.rocket_outer_block .big-rocket-ting .side-booster__nose::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rocket_outer_block .big-rocket-ting .side-booster__stripe {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--brown)), color-stop(50%, var(--darkBrown)));
  background: -webkit-linear-gradient(left, var(--brown) 50%, var(--darkBrown) 50%);
  background: -o-linear-gradient(left, var(--brown) 50%, var(--darkBrown) 50%);
  background: linear-gradient(to right, var(--brown) 50%, var(--darkBrown) 50%);
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.rocket_outer_block .big-rocket-ting .side-booster__stripe--1 {
  top: 30%;
}

.rocket_outer_block .big-rocket-ting .side-booster__stripe--2 {
  top: 45%;
}

.rocket_outer_block .big-rocket-ting .side-booster__stripe--3 {
  top: 50%;
}

.rocket_outer_block .big-rocket-ting .side-booster__engine {
  left: -6px;
  width: 20px;
  position: absolute;
  bottom: 15px;
  z-index: 5;
}

.rocket_outer_block .big-rocket-ting .side-booster__engine::before {
  content: "";
  display: block;
  height: 0;
  width: 130%;
  border-bottom: 0.4em solid var(--engineOrange);
  border-left: 0.2em solid transparent;
  border-right: 0.2em solid transparent;
}

.rocket_outer_block .big-rocket-ting .side-booster__engine::after {
  content: "";
  display: block;
  height: 0;
  width: 180%;
  border-bottom: 0.4em solid var(--engineYellow);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  margin: 0 0 0 -25%;
}

.rocket_outer_block .big-rocket-ting .side-booster--left {
  right: 100%;
}

.rocket_outer_block .big-rocket-ting .side-booster--right {
  left: 100%;
}

.rocket_outer_block .rocket_flames {
  position: absolute;
  top: 64%;
  width: 25px;
  height: 50px;
  background-image: -webkit-radial-gradient(top, ellipse, white 0% 1%, rgba(255, 255, 255, 0) 20% 100%), -webkit-radial-gradient(top, ellipse, orange 0% 20%, rgba(255, 165, 0, 0) 60% 100%), -webkit-radial-gradient(top, ellipse, red 0% 30%, rgba(255, 0, 0, 0) 70% 100%);
  background-image: -o-radial-gradient(top, ellipse, white 0% 1%, rgba(255, 255, 255, 0) 20% 100%), -o-radial-gradient(top, ellipse, orange 0% 20%, rgba(255, 165, 0, 0) 60% 100%), -o-radial-gradient(top, ellipse, red 0% 30%, rgba(255, 0, 0, 0) 70% 100%);
  background-image: radial-gradient(ellipse at top, white 0% 1%, rgba(255, 255, 255, 0) 20% 100%), radial-gradient(ellipse at top, orange 0% 20%, rgba(255, 165, 0, 0) 60% 100%), radial-gradient(ellipse at top, red 0% 30%, rgba(255, 0, 0, 0) 70% 100%);
  border-radius: 40%;
  -webkit-animation: flames 0.5s ease-in-out infinite;
       -o-animation: flames 0.5s ease-in-out infinite;
          animation: flames 0.5s ease-in-out infinite;
}

.rocket_outer_block .rocket_flames.flame_left {
  left: 30%;
}

.rocket_outer_block .rocket_flames.flame_right {
  right: 30%;
}

.rocket_outer_block .sky {
  position: absolute;
  width: 100%;
  height: 82%;
  overflow: hidden;
  top: -20%;
  left: -10%;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
       -o-transform: rotate(135deg);
          transform: rotate(135deg);
}

.rocket_outer_block .sky .star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(white 0, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(white 0, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(white 0, rgba(0, 0, 0, 0) 100%);
  -webkit-animation: tail 5s ease-in-out infinite, shot 5s ease-in-out infinite;
       -o-animation: tail 5s ease-in-out infinite, shot 5s ease-in-out infinite;
          animation: tail 5s ease-in-out infinite, shot 5s ease-in-out infinite;
}

.rocket_outer_block .sky .star:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(50%, white), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, white 50%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, white 50%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, white 50%, rgba(0, 0, 0, 0) 100%);
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
       -o-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  -webkit-box-shadow: 0 0 20px 0.1px white;
          box-shadow: 0 0 20px 0.1px white;
  -webkit-animation: shining 5s ease-in-out infinite;
       -o-animation: shining 5s ease-in-out infinite;
          animation: shining 5s ease-in-out infinite;
}

.rocket_outer_block .sky .star:after {
  content: "";
  position: absolute;
  left: 0px;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(50%, white), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, white 50%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, white 50%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, white 50%, rgba(0, 0, 0, 0) 100%);
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
       -o-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  -webkit-box-shadow: 0 0 20px 0.1px white;
          box-shadow: 0 0 20px 0.1px white;
  -webkit-animation: shining 5s ease-in-out infinite;
       -o-animation: shining 5s ease-in-out infinite;
          animation: shining 5s ease-in-out infinite;
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
       -o-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.rocket_outer_block .sky .star:nth-child(1) {
  top: calc(93%);
  left: calc(15%);
  -webkit-animation-delay: 3411ms;
       -o-animation-delay: 3411ms;
          animation-delay: 3411ms;
}

.rocket_outer_block .sky .star:nth-child(1):before, .rocket_outer_block .sky .star:nth-child(1):after {
  -webkit-animation-delay: 3411ms;
       -o-animation-delay: 3411ms;
          animation-delay: 3411ms;
}

.rocket_outer_block .sky .star:nth-child(2) {
  top: calc(10%);
  left: calc(42%);
  -webkit-animation-delay: 8222ms;
       -o-animation-delay: 8222ms;
          animation-delay: 8222ms;
}

.rocket_outer_block .sky .star:nth-child(2):before, .rocket_outer_block .sky .star:nth-child(2):after {
  -webkit-animation-delay: 8222ms;
       -o-animation-delay: 8222ms;
          animation-delay: 8222ms;
}

.rocket_outer_block .sky .star:nth-child(3) {
  top: calc(2%);
  left: calc(68%);
  -webkit-animation-delay: 9743ms;
       -o-animation-delay: 9743ms;
          animation-delay: 9743ms;
}

.rocket_outer_block .sky .star:nth-child(3):before, .rocket_outer_block .sky .star:nth-child(3):after {
  -webkit-animation-delay: 9743ms;
       -o-animation-delay: 9743ms;
          animation-delay: 9743ms;
}

.rocket_outer_block .sky .star:nth-child(4) {
  top: calc(63%);
  left: calc(77%);
  -webkit-animation-delay: 9213ms;
       -o-animation-delay: 9213ms;
          animation-delay: 9213ms;
}

.rocket_outer_block .sky .star:nth-child(4):before, .rocket_outer_block .sky .star:nth-child(4):after {
  -webkit-animation-delay: 9213ms;
       -o-animation-delay: 9213ms;
          animation-delay: 9213ms;
}

.rocket_outer_block .sky .star:nth-child(5) {
  top: calc(36%);
  left: calc(54%);
  -webkit-animation-delay: 6791ms;
       -o-animation-delay: 6791ms;
          animation-delay: 6791ms;
}

.rocket_outer_block .sky .star:nth-child(5):before, .rocket_outer_block .sky .star:nth-child(5):after {
  -webkit-animation-delay: 6791ms;
       -o-animation-delay: 6791ms;
          animation-delay: 6791ms;
}

.rocket_outer_block .sky .star:nth-child(6) {
  top: calc(89%);
  left: calc(98%);
  -webkit-animation-delay: 115ms;
       -o-animation-delay: 115ms;
          animation-delay: 115ms;
}

.rocket_outer_block .sky .star:nth-child(6):before, .rocket_outer_block .sky .star:nth-child(6):after {
  -webkit-animation-delay: 115ms;
       -o-animation-delay: 115ms;
          animation-delay: 115ms;
}

.rocket_outer_block .sky .star:nth-child(7) {
  top: calc(1%);
  left: calc(18%);
  -webkit-animation-delay: 1517ms;
       -o-animation-delay: 1517ms;
          animation-delay: 1517ms;
}

.rocket_outer_block .sky .star:nth-child(7):before, .rocket_outer_block .sky .star:nth-child(7):after {
  -webkit-animation-delay: 1517ms;
       -o-animation-delay: 1517ms;
          animation-delay: 1517ms;
}

.rocket_outer_block .sky .star:nth-child(8) {
  top: calc(50%);
  left: calc(81%);
  -webkit-animation-delay: 4323ms;
       -o-animation-delay: 4323ms;
          animation-delay: 4323ms;
}

.rocket_outer_block .sky .star:nth-child(8):before, .rocket_outer_block .sky .star:nth-child(8):after {
  -webkit-animation-delay: 4323ms;
       -o-animation-delay: 4323ms;
          animation-delay: 4323ms;
}

.rocket_outer_block .sky .star:nth-child(9) {
  top: calc(17%);
  left: calc(84%);
  -webkit-animation-delay: 2760ms;
       -o-animation-delay: 2760ms;
          animation-delay: 2760ms;
}

.rocket_outer_block .sky .star:nth-child(9):before, .rocket_outer_block .sky .star:nth-child(9):after {
  -webkit-animation-delay: 2760ms;
       -o-animation-delay: 2760ms;
          animation-delay: 2760ms;
}

.rocket_outer_block .sky .star:nth-child(10) {
  top: calc(21%);
  left: calc(50%);
  -webkit-animation-delay: 1404ms;
       -o-animation-delay: 1404ms;
          animation-delay: 1404ms;
}

.rocket_outer_block .sky .star:nth-child(10):before, .rocket_outer_block .sky .star:nth-child(10):after {
  -webkit-animation-delay: 1404ms;
       -o-animation-delay: 1404ms;
          animation-delay: 1404ms;
}

.rocket_outer_block .sky .star:nth-child(11) {
  top: calc(35%);
  left: calc(70%);
  -webkit-animation-delay: 1540ms;
       -o-animation-delay: 1540ms;
          animation-delay: 1540ms;
}

.rocket_outer_block .sky .star:nth-child(11):before, .rocket_outer_block .sky .star:nth-child(11):after {
  -webkit-animation-delay: 1540ms;
       -o-animation-delay: 1540ms;
          animation-delay: 1540ms;
}

.rocket_outer_block .sky .star:nth-child(12) {
  top: calc(44%);
  left: calc(32%);
  -webkit-animation-delay: 2848ms;
       -o-animation-delay: 2848ms;
          animation-delay: 2848ms;
}

.rocket_outer_block .sky .star:nth-child(12):before, .rocket_outer_block .sky .star:nth-child(12):after {
  -webkit-animation-delay: 2848ms;
       -o-animation-delay: 2848ms;
          animation-delay: 2848ms;
}

.rocket_outer_block .sky .star:nth-child(13) {
  top: calc(100%);
  left: calc(38%);
  -webkit-animation-delay: 2604ms;
       -o-animation-delay: 2604ms;
          animation-delay: 2604ms;
}

.rocket_outer_block .sky .star:nth-child(13):before, .rocket_outer_block .sky .star:nth-child(13):after {
  -webkit-animation-delay: 2604ms;
       -o-animation-delay: 2604ms;
          animation-delay: 2604ms;
}

.rocket_outer_block .sky .star:nth-child(14) {
  top: calc(85%);
  left: calc(53%);
  -webkit-animation-delay: 2426ms;
       -o-animation-delay: 2426ms;
          animation-delay: 2426ms;
}

.rocket_outer_block .sky .star:nth-child(14):before, .rocket_outer_block .sky .star:nth-child(14):after {
  -webkit-animation-delay: 2426ms;
       -o-animation-delay: 2426ms;
          animation-delay: 2426ms;
}

.rocket_outer_block .sky .star:nth-child(15) {
  top: calc(45%);
  left: calc(38%);
  -webkit-animation-delay: 9539ms;
       -o-animation-delay: 9539ms;
          animation-delay: 9539ms;
}

.rocket_outer_block .sky .star:nth-child(15):before, .rocket_outer_block .sky .star:nth-child(15):after {
  -webkit-animation-delay: 9539ms;
       -o-animation-delay: 9539ms;
          animation-delay: 9539ms;
}

.rocket_outer_block .sky .star:nth-child(16) {
  top: calc(40%);
  left: calc(21%);
  -webkit-animation-delay: 8420ms;
       -o-animation-delay: 8420ms;
          animation-delay: 8420ms;
}

.rocket_outer_block .sky .star:nth-child(16):before, .rocket_outer_block .sky .star:nth-child(16):after {
  -webkit-animation-delay: 8420ms;
       -o-animation-delay: 8420ms;
          animation-delay: 8420ms;
}

.rocket_outer_block .sky .star:nth-child(17) {
  top: calc(1%);
  left: calc(33%);
  -webkit-animation-delay: 5528ms;
       -o-animation-delay: 5528ms;
          animation-delay: 5528ms;
}

.rocket_outer_block .sky .star:nth-child(17):before, .rocket_outer_block .sky .star:nth-child(17):after {
  -webkit-animation-delay: 5528ms;
       -o-animation-delay: 5528ms;
          animation-delay: 5528ms;
}

.rocket_outer_block .sky .star:nth-child(18) {
  top: calc(14%);
  left: calc(39%);
  -webkit-animation-delay: 1054ms;
       -o-animation-delay: 1054ms;
          animation-delay: 1054ms;
}

.rocket_outer_block .sky .star:nth-child(18):before, .rocket_outer_block .sky .star:nth-child(18):after {
  -webkit-animation-delay: 1054ms;
       -o-animation-delay: 1054ms;
          animation-delay: 1054ms;
}

.rocket_outer_block .sky .star:nth-child(19) {
  top: calc(60%);
  left: calc(18%);
  -webkit-animation-delay: 2834ms;
       -o-animation-delay: 2834ms;
          animation-delay: 2834ms;
}

.rocket_outer_block .sky .star:nth-child(19):before, .rocket_outer_block .sky .star:nth-child(19):after {
  -webkit-animation-delay: 2834ms;
       -o-animation-delay: 2834ms;
          animation-delay: 2834ms;
}

.rocket_outer_block .sky .star:nth-child(20) {
  top: calc(48%);
  left: calc(93%);
  -webkit-animation-delay: 6092ms;
       -o-animation-delay: 6092ms;
          animation-delay: 6092ms;
}

.rocket_outer_block .sky .star:nth-child(20):before, .rocket_outer_block .sky .star:nth-child(20):after {
  -webkit-animation-delay: 6092ms;
       -o-animation-delay: 6092ms;
          animation-delay: 6092ms;
}

.rocket_outer_block .sky .star:nth-child(21) {
  top: calc(6%);
  left: calc(37%);
  -webkit-animation-delay: 1162ms;
       -o-animation-delay: 1162ms;
          animation-delay: 1162ms;
}

.rocket_outer_block .sky .star:nth-child(21):before, .rocket_outer_block .sky .star:nth-child(21):after {
  -webkit-animation-delay: 1162ms;
       -o-animation-delay: 1162ms;
          animation-delay: 1162ms;
}

.rocket_outer_block .sky .star:nth-child(22) {
  top: calc(65%);
  left: calc(13%);
  -webkit-animation-delay: 4890ms;
       -o-animation-delay: 4890ms;
          animation-delay: 4890ms;
}

.rocket_outer_block .sky .star:nth-child(22):before, .rocket_outer_block .sky .star:nth-child(22):after {
  -webkit-animation-delay: 4890ms;
       -o-animation-delay: 4890ms;
          animation-delay: 4890ms;
}

.rocket_outer_block .sky .star:nth-child(23) {
  top: calc(84%);
  left: calc(98%);
  -webkit-animation-delay: 6163ms;
       -o-animation-delay: 6163ms;
          animation-delay: 6163ms;
}

.rocket_outer_block .sky .star:nth-child(23):before, .rocket_outer_block .sky .star:nth-child(23):after {
  -webkit-animation-delay: 6163ms;
       -o-animation-delay: 6163ms;
          animation-delay: 6163ms;
}

.rocket_outer_block .sky .star:nth-child(24) {
  top: calc(42%);
  left: calc(26%);
  -webkit-animation-delay: 5207ms;
       -o-animation-delay: 5207ms;
          animation-delay: 5207ms;
}

.rocket_outer_block .sky .star:nth-child(24):before, .rocket_outer_block .sky .star:nth-child(24):after {
  -webkit-animation-delay: 5207ms;
       -o-animation-delay: 5207ms;
          animation-delay: 5207ms;
}

@-webkit-keyframes shining {
  0% {
    width: 0px;
  }
  50% {
    width: 20px;
  }
  100% {
    width: 0px;
  }
}

@-o-keyframes shining {
  0% {
    width: 0px;
  }
  50% {
    width: 20px;
  }
  100% {
    width: 0px;
  }
}

@keyframes shining {
  0% {
    width: 0px;
  }
  50% {
    width: 20px;
  }
  100% {
    width: 0px;
  }
}

@-webkit-keyframes tail {
  0% {
    height: 0px;
  }
  25% {
    height: 100px;
  }
  100% {
    height: 0px;
  }
}

@-o-keyframes tail {
  0% {
    height: 0px;
  }
  25% {
    height: 100px;
  }
  100% {
    height: 0px;
  }
}

@keyframes tail {
  0% {
    height: 0px;
  }
  25% {
    height: 100px;
  }
  100% {
    height: 0px;
  }
}

@-webkit-keyframes shot {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-1500px);
            transform: translateY(-1500px);
  }
}

@-o-keyframes shot {
  0% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
  }
  100% {
    -o-transform: translateY(-1500px);
       transform: translateY(-1500px);
  }
}

@keyframes shot {
  0% {
    -webkit-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-1500px);
         -o-transform: translateY(-1500px);
            transform: translateY(-1500px);
  }
}

@-webkit-keyframes flames {
  0%,
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: scalex(1);
            transform: scalex(1);
  }
  10% {
    -webkit-transform: scale(0.9, 0.8);
            transform: scale(0.9, 0.8);
  }
  50% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98);
  }
  50% {
    -webkit-transform: scaleY(0.68);
            transform: scaleY(0.68);
  }
  70% {
    -webkit-transform: scaleY(0.88);
            transform: scaleY(0.88);
  }
  80% {
    -webkit-transform: scaleY(0.78);
            transform: scaleY(0.78);
  }
  90% {
    -webkit-transform: scaleY(0.88);
            transform: scaleY(0.88);
  }
}

@-o-keyframes flames {
  0%,
  100% {
    -o-transform-origin: top center;
       transform-origin: top center;
    -o-transform: scalex(1);
       transform: scalex(1);
  }
  10% {
    -o-transform: scale(0.9, 0.8);
       transform: scale(0.9, 0.8);
  }
  50% {
    -o-transform: scaleY(0.98);
       transform: scaleY(0.98);
  }
  50% {
    -o-transform: scaleY(0.68);
       transform: scaleY(0.68);
  }
  70% {
    -o-transform: scaleY(0.88);
       transform: scaleY(0.88);
  }
  80% {
    -o-transform: scaleY(0.78);
       transform: scaleY(0.78);
  }
  90% {
    -o-transform: scaleY(0.88);
       transform: scaleY(0.88);
  }
}

@keyframes flames {
  0%,
  100% {
    -webkit-transform-origin: top center;
         -o-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: scalex(1);
         -o-transform: scalex(1);
            transform: scalex(1);
  }
  10% {
    -webkit-transform: scale(0.9, 0.8);
         -o-transform: scale(0.9, 0.8);
            transform: scale(0.9, 0.8);
  }
  50% {
    -webkit-transform: scaleY(0.98);
         -o-transform: scaleY(0.98);
            transform: scaleY(0.98);
  }
  50% {
    -webkit-transform: scaleY(0.68);
         -o-transform: scaleY(0.68);
            transform: scaleY(0.68);
  }
  70% {
    -webkit-transform: scaleY(0.88);
         -o-transform: scaleY(0.88);
            transform: scaleY(0.88);
  }
  80% {
    -webkit-transform: scaleY(0.78);
         -o-transform: scaleY(0.78);
            transform: scaleY(0.78);
  }
  90% {
    -webkit-transform: scaleY(0.88);
         -o-transform: scaleY(0.88);
            transform: scaleY(0.88);
  }
}
/*# sourceMappingURL=style.css.map */